@model ASP.NETLab3.Models.Form

@{
    ViewData["Title"] = "Formularz";
}

@using (Html.BeginForm("Form", "Form", FormMethod.Post))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger"})
    <p>Podaj imię: @Html.TextBoxFor(a => a.Name)</p>
    <p>Podaj nazwisko: @Html.TextBoxFor(a => a.Surname)</p>
    <p>Adres e-mail: @Html.TextBoxFor(a => a.Email)</p>
    <p>Podaj hasło: @Html.PasswordFor(a => a.Password)</p>
    <p>Potwierdź hasło: @Html.PasswordFor(a => a.ConfirmPassword)</p>
    <p>Numer telefonu: @Html.TextBoxFor(a => a.TelephoneNumber)</p>
    <p>Podaj swój wiek: @Html.TextBoxFor(a => a.Age)</p>
    <p>
        <label asp-for="City">Wybierz Miasto:</label>
        <select asp-for="City" asp-items="Html.GetEnumSelectList<Form.Cities>()">
            <option value="">-- Wybierz Miasto --</option>
        </select>
    </p>
    <input type="submit"/>
    <input type="reset" />
}


@* <form asp-action="Form" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Name">Imię</label>
        <input asp-for="Name"/>
    </div>
    <div>
        <label asp-for="Surname">Nazwisko</label>
        <input asp-for="Surname" />
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Password">Hasło</label>
        <input asp-for="Password" />
    </div>
    <div>
        <label asp-for="Password">Powtórz Hasło</label>
        <input asp-for="ConfirmPassword" />
    </div>
    <div>
        <label asp-for="TelephoneNumber">Numer</label>
        <input asp-for="TelephoneNumber" />
    </div>
    <div>
        <label asp-for="Age">Wiek</label>
        <input asp-for="Age" />
    </div>
    <div>
        <label asp-for="City">Miasto</label>
        <select asp-for="City" 
        asp-items="Html.GetEnumSelectList<Form.Cities>()">
        </select>
    </div>
    <hr />
    <div>
        <input type="submit" value="Prześlij"/>
        <input type="reset" value="Wyczyść" />
    </div>
</form> *@