@model ASP.NETLab3.Models.Form

<h1>Rejestracja przebiegła pomyślnie!</h1>

<h1>Wynik</h1>
@Model.Name
<hr/>
@Model.Surname
<hr />
@Model.Email
<hr />
@Model.Password
<hr />
@Model.TelephoneNumber
<hr />
@Model.Age
<hr />
@Model.City